@{
	ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>

<address>
	<strong>Email:</strong>   <a href="mailto:pedroh.ti@hotmail.com">pedroh.ti@hotmail.com</a><br />
	<strong>Github:</strong> <a href="https://github.com/pedrohti">https://github.com/pedrohti</a><br />
	<strong>Repo:</strong> <a href="https://github.com/pedrohti/livraria">https://github.com/pedrohti/livraria</a>
</address>