@{
	ViewBag.Title = "Cadastrar";
}

<form action="/" method="POST">
	<div class="form-group">
		<label>ISBN</label>
		<input type="text" class="form-control" id="isbn" required>
		<small id="erroIsbn"></small>
	</div>
	<div class="form-group">
		<label>Autor</label>
		<input type="text" class="form-control" id="autor" required>
	</div>
	<div class="form-group">
		<label>Título</label>
		<input type="text" class="form-control" id="titulo" required>
	</div>
	<div class="form-group">
		<label>Preço</label>
		<input type="number" class="form-control" min="1" step="any" id="preco">
	</div>
	<div class="form-group">
		<label>Data da Publicação</label>
		<input type="date" class="form-control" id="data" required>
	</div>
	<div class="form-group">
		<label>Capa</label> <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="Link da imagem."></i>
		<input type="text" class="form-control" id="capa" required>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
	$("form").submit((e) => {
		var isbn = $('input[id=isbn]').val()
		var autor = $('input[id=autor]').val()
		var titulo = $('input[id=titulo]').val()
		var preco = $('input[id=preco]').val()
		var data = $('input[id=data]').val()
		var capa = $('input[id=capa]').val()

		var formData = {
			'ISBN': isbn,
			'Autor': autor,
			'Titulo': titulo,
			'Preco': preco,
			'DataPublicacao': data,
			'Capa': capa,
		}


		$.ajax({
			type: 'POST',
			url: '/api/livro',
			data: formData,
			dataType: 'json',
		}).done((data) => {
			console.log(data)
		})
		console.log(formData)
	})

	$("#isbn").focusout((isbn) => {
		var isbn = $('input[id=isbn]').val()

		$.ajax({
			type: 'POST',
			url: '/api/livro/PostIsbn?isbn=' + isbn,
			dataType: 'json',
		}).done((data) => {
			console.log(data)
			if (data == "nok") {
				$("#isbn").css("border", "solid 1px red");
				$("#erroIsbn").html("ISBN já cadastrado!").css("color", "red");
				$('button').prop('disabled', true)
			} else {
				$("#isbn").css('border', 'solid 0.5px lightgray');
				$("#erroIsbn").html("").css("color", "black");
				$('button').prop('disabled', false)
			}
		})
	})
</script>